@import '../../../Variables.scss';

.swiper-slide{
  // max-width: 600px;
  height: 300px!important;
}

.banner-slide{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  &__categories{
    display: flex;
    flex-direction: column;
    list-style: none;
    li{
      margin-left: 20px;
      margin-top: 10px;
      border-radius: $borderRadius;
      background-color: white;
    }
    li::before{
      content: "@";
    }
  }
  &__outer-container{
    box-shadow: $inputBoxShadow;
  }
}

.banner-slide > img{
  max-height: 300px;
}