.add-products{
  display: flex;

  &__category-input{
    &__option{
      border-radius: 2px;
      background-color: #d8e2dc;
      max-width: 200px;
      border: 1px solid #6b705c;
      margin-top: 1px;
      display: none;
    }
  }
  &__category-input:hover .add-products__category-input__option{
    
    // {
      display: block;
    // }
  }
  &__container{
    flex-direction: column;
    input{
      display: block;
    }
  }
}