@import "../../../Variables.scss";
.add-products {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  &__category-input {
    position: relative;
    cursor: pointer;
    background-color: $buttonColor;
    border-radius: $borderRadius;
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
    height: 50px;
    width: 200px;
    display: block;
    outline: none;
    border: none;
    border-radius: $borderRadius;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 22px 18px;
    &__menu {
      position: absolute;
      pointer-events: none;
      z-index: 10;
    }
    &__option {
      border-radius: $borderRadius;
      background-color: #d8e2dc;
      max-width: 200px;
      border: 1px solid #6b705c;
      margin-top: 1px;
      opacity: 0;
      pointer-events: none;
      transition: display 150ms ease-in-out, transform 300ms ease-in-out,
        opacity 300ms ease-in-out, backgroundColor 300ms ease-in-out;
    }

    &__achievements {
      flex-direction: column;
      display: flex;
      border-radius: $borderRadius;
    }
  }
  .active {
    @include btn-hover;
  }
  .active .add-products__category-input__option {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
    transform: translateY(20px);
  }
  &__container {
    flex-direction: column;
    display: flex;
    border-radius: $borderRadius;
    input {
      @include inputWithShadow;
      --field-padding: 12px;
    }
    input::placeholder {
      text-align: end;
    }
  }
  &__container > :not(meta) {
    margin: 3px 5px;
  }

  &__btn-add{
    @include standard-button;
    @include font-large-bold;
    border-radius: $borderRadius;
    height: 50px;
    width: 150px;
    align-self: center;
  }
  &__btn-add:hover{
    @include btn-hover
  }
}

.custom-field {
  font-size: 14px;
  position: relative;
  --field-padding: 12px;
  border-top: 20px solid transparent;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  bottom: 50%;
  top: 22px;
  transform: translateY(-50%);
  width: calc(100% - 24px);
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input:focus + .placeholder {
  top: -10px;
  font-size: 14px;
  color: #222;
}
